<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ruankun.houseadmin.mapper.WithdrawMapper">

  <resultMap id="BaseResultMap" type="xyz.ruankun.houseadmin.entity.Withdraw">
	<id column="id" jdbcType="INTEGER" property="id" />
	<result column="withdraw_ment" jdbcType="VARCHAR" property="withdrawMent" />
	<result column="open_id" jdbcType="VARCHAR" property="openId" />
	<result column="wx_id" jdbcType="VARCHAR" property="wxId" />
	<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
	<result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
	<result column="money" jdbcType="DECIMAL" property="money" />
	<result column="withdraw_status" jdbcType="TINYINT" property="withdrawStatus" />
	<result column="is_finish" jdbcType="TINYINT" property="isFinish" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <insert id="add" parameterType="xyz.ruankun.houseadmin.entity.Withdraw">
    insert into withdraw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="withdrawMent != null">
        withdraw_ment,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="wxId != null">
        wx_id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="withdrawStatus != null">
        withdraw_status,
      </if>
      <if test="isFinish != null">
        is_finish,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="withdrawMent != null">
        #{withdrawMent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null">
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="withdrawStatus != null">
        #{withdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="isFinish != null">
        #{isFinish,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <update id="update" parameterType="xyz.ruankun.houseadmin.entity.Withdraw">
    update withdraw
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="withdrawMent != null">
        withdraw_ment = #{withdrawMent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null">
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="withdrawStatus != null">
        withdraw_status = #{withdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="isFinish != null">
        is_finish = #{isFinish,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from withdraw
  </select>
  
</mapper>